# Imports

In [1]:
import os
import pandas as pd
import psycopg2

from dotenv import load_dotenv
import requests
from bs4 import BeautifulSoup

In [2]:
dotenv_path = ("/Users/maukanmir/Documents/Machine-Learning/Web-Scraping-Code/Player-Salaries/dot.env")
load_dotenv(dotenv_path)

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
TABLE_NAME = "player_salaries"

# Functions

In [17]:
def extract_player_info(html_content, year):
    soup = BeautifulSoup(html_content, 'html.parser')
    player_data = []
    players = soup.find_all('li', class_='list-group-item')

    for player in players:
        data = {}

        name_div = player.find('div', class_='link')
        salary_span = player.find('span', class_='medium')
        team_position_small = player.find('small')
        
        if name_div:
            
            data['player'] = name_div.text.strip()

            block = team_position_small.text.strip().split(",")
            team = block[0]
            pos = block[1]
            data['team'] = team
            data["pos"] = pos
            salary = salary_span.text.strip().replace("$", "").replace(",", "")
            data['salary'] = int(salary)
            player_data.append(data)
    
    df = pd.DataFrame(player_data)
    df["season"] = int(year)
    return df

# Grabbing Player Salaries

In [19]:
years = [str(year) for year in range(2011, 2025)]
all_data = pd.DataFrame()

for year in years:
  url = f"https://www.spotrac.com/nba/rankings/player/_/year/{year}/sort/cash_total"
  response = requests.get(url)
  df = extract_player_info(response.text, year)
  all_data = pd.concat([all_data, df])

In [30]:
all_data['id'] = range(1, len(all_data) + 1)

# Save To Posgres

In [36]:
try:
  with psycopg2.connect(
        host=DB_HOST,
        database=DB_NAME,
        user=DB_USER,
        password=DB_PASSWORD
    ) as conn:
      with conn.cursor(cursor_factory=psycopg2.extras.DictCursor) as cur:
        cur.execute(f"DROP TABLE IF EXISTS {TABLE_NAME};")

        cur.execute(f"""
            CREATE TABLE {TABLE_NAME} (
                id INTEGER PRIMARY KEY,
                player VARCHAR(255),
                team VARCHAR(12),
                pos  VARCHAR(20),
                salary INTEGER,
                season INTEGER
            );
        """)
        
        insert_query = f'INSERT INTO {TABLE_NAME} (id, player, team, pos, salary, season) VALUES (%s, %s, %s, %s, %s, %s)'
        rows_to_insert = [(row["id"], row['player'], row['team'], row['pos'], row['salary'], row['season']) for index, row in all_data.iterrows()]
        cur.executemany(insert_query, rows_to_insert)
        
        conn.commit()
        print("Data written to the database.")
except Exception as e:
  print(f"Database Failed to upload Data. The error is: {e}")

Data written to the database.

# Test

In [3]:
url = f"https://hoopshype.com/salaries/players/1990-1991/"
response = requests.get(url)

In [5]:
soup = BeautifulSoup(response.text, 'html.parser')
soup.findAll("td", class_="")

In [11]:
url = f"https://hoopshype.com/salaries/1990-1991/"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [20]:
tds = soup.findAll("td")
stats = [td.text.strip() for td in tds]

In [32]:
sep_blocks = " ".join(stats).split(".")[1:]
[block.split(" ")[:4] for block in sep_blocks]

[['', 'Cleveland', '$14,403,000', '$33,829,743'],
 ['', 'New', 'York', '$13,290,000'],
 ['', 'Detroit', '$12,910,000', '$30,322,989'],
 ['', 'LA', 'Lakers', '$12,120,000'],
 ['', 'Atlanta', '$11,761,000', '$27,624,220'],
 ['', 'Dallas', '$11,693,000', '$27,464,500'],
 ['', 'Philadelphia', '$11,640,000', '$27,340,013'],
 ['', 'Milwaukee', '$11,595,000', '$27,234,318'],
 ['', 'Phoenix', '$11,463,000', '$26,924,276'],
 ['', 'Brooklyn', '$11,410,000', '$26,799,790'],
 ['', 'Boston', '$11,256,000', '$26,438,074'],
 ['', 'Portland', '$11,215,000', '$26,341,775'],
 ['', 'Golden', 'State', '$11,150,000'],
 ['', 'San', 'Antonio', '$11,057,000'],
 ['', 'Indiana', '$10,981,000', '$25,792,156'],
 ['', 'Utah', '$10,695,000', '$25,120,399'],
 ['', 'Oklahoma', 'City', '$10,590,000'],
 ['', 'Houston', '$10,500,000', '$24,662,383'],
 ['', 'Charlotte', '$10,417,000', '$24,467,433'],
 ['', 'Denver', '$10,335,000', '$24,274,832'],
 ['', 'LA', 'Clippers', '$10,245,000'],
 ['', 'Chicago', '$10,040,000', '$23,581,937'],
 ['', 'Washington', '$9,610,000', '$22,571,952'],
 ['', 'Sacramento', '$9,605,000', '$22,560,207'],
 ['', 'Miami', '$8,510,000', '$19,988,272'],
 ['', 'Minnesota', '$7,540,000', '$17,709,938'],
 ['', 'Orlando', '$7,532,000', '$17,691,149']]

In [21]:
test = [block for block in stats if block.endswith(".")]
test

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.']