# Imports

In [1]:
import os
import pandas as pd


from dotenv import load_dotenv
import requests
from sqlalchemy import create_engine
from bs4 import BeautifulSoup

from packages.utils import extract_player_salaries, load_into_db, grab_all_salaries

In [2]:

dotenv_path = ("/Users/maukanmir/Documents/Machine-Learning/Web-Scraping-Code/Player-Salaries/dot.env")
load_dotenv(dotenv_path)

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
TABLE_NAME_PlAYER_SALARIES = "player_salaries"
TABLE_NAME_MASTER_PLAYER_SALARIES = "master_player_salaries"

engine = create_engine(f'postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}')

# Grabbing Player Salaries from 2011-2024

In [20]:
years = [str(year) for year in range(2011, 2025)]
all_data = pd.DataFrame()

for year in years:
  url = f"https://www.spotrac.com/nba/rankings/player/_/year/{year}/sort/cash_total"
  response = requests.get(url)
  year = int(year)
  df = extract_player_salaries(response.text, year)
  all_data = pd.concat([all_data, df])

# Download Dataset into DB

In [21]:
load_into_db(all_data, engine, TABLE_NAME_PlAYER_SALARIES)

Data successfully written to the database.

# Grabbing Player Salaries From 1989-2024

In [7]:
all_data = pd.DataFrame()
years = [str(year) + "-" + str(year+1) for year in range(1990, 2025)]
for year in years:
  print(year)
  base_url = f"https://hoopshype.com/salaries/players/{year}/"
  response = requests.get(base_url)
  df = grab_all_salaries(response.text, year)
  all_data = pd.concat([all_data, df])

1990-1991
list index out of range ['A']
list index out of range ['C']
list index out of range ['J']
list index out of range ['R']
list index out of range ['A']
list index out of range ['J']
list index out of range ['A']
list index out of range ['J']
1991-1992
list index out of range ['A']
list index out of range ['C']
list index out of range ['J']
list index out of range ['R']
list index out of range ['A']
list index out of range ['J']
list index out of range ['A']
list index out of range ['J']
1992-1993
list index out of range ['A']
list index out of range ['C']
list index out of range ['J']
list index out of range ['R']
list index out of range ['A']
list index out of range ['J']
list index out of range ['A']
list index out of range ['J']
1993-1994
list index out of range ['A']
list index out of range ['C']
list index out of range ['J']
list index out of range ['R']
list index out of range ['A']
list index out of range ['J']
1994-1995
list index out of range ['A']
list index out of range ['C']
list index out of range ['J']
list index out of range ['R']
list index out of range ['B']
list index out of range ['J']
1995-1996
list index out of range ['A']
list index out of range ['C']
list index out of range ['J']
list index out of range ['R']
list index out of range ['B']
list index out of range ['J']
1996-1997
1997-1998
list index out of range ['A']
list index out of range ['C']
list index out of range ['B']
list index out of range ['J']
list index out of range ['J']
list index out of range ['R']
1998-1999
list index out of range ['A']
list index out of range ['C']
list index out of range ['B']
list index out of range ['J']
list index out of range ['J']
list index out of range ['R']
list index out of range ['J']
list index out of range ['R']
1999-2000
list index out of range ['J']
list index out of range ['R']
list index out of range ['A']
list index out of range ['C']
list index out of range ['B']
list index out of range ['J']
list index out of range ['A']
list index out of range ['J']
2000-2001
list index out of range ['A']
list index out of range ['C']
list index out of range ['J']
list index out of range ['R']
2001-2002
2002-2003
list index out of range ['J']
list index out of range ['R']
2003-2004
2004-2005
2005-2006
2006-2007
2007-2008
list index out of range ['D']
list index out of range ['J']
2008-2009
2009-2010
2010-2011
2011-2012
2012-2013
2013-2014
2014-2015
2015-2016
2016-2017
2017-2018
2018-2019
2019-2020
2020-2021
2021-2022
2022-2023
2023-2024
2024-2025

In [8]:
all_data.duplicated().sum()

np.int64(0)

In [9]:
load_into_db(all_data, engine, TABLE_NAME_MASTER_PLAYER_SALARIES)

Data successfully written to the database.